@import url('https://fonts.google.com/specimen/Poppins')
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Specimen', sans-serif;
    background-color: var(--very-light-gray);
}
:root {
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
}
.hero {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.hero h1 {
    line-height: 1rem;
}
.heading1 {
    color: var(--grayish-blue);
    font-weight: 200;
}
.heading2 {
    color: var(--very-dark-blue);
}
.hero small{
    color: var(--grayish-blue);
}
.cards-container {
    width: 100%;
    margin: auto;
}
.card {
    position: absolute;
    width: 250px;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 50px 1px var(--very-dark-blue);
    -webkit-box-shadow: px 0px 70px 0px;
}
.card-title {
    color: var(--very-dark-blue);
    margin-bottom: 0.5rem;
}
.card small {
    color: var(--grayish-blue);
}
.card-img {
    width: 100%;
    margin: auto;
    text-align: right;
    margin-top: 2rem;
}
.supervisor {
    left: 19rem;
    bottom: 4rem;
    border-top: 5px solid var(--cyan);
}
.team-builder {
    top: 20rem;
    right: 38.5rem;
    margin: auto;
    border-top: 5px solid var(--red);
}
.karma {
    top: 36rem;
    right: 38.5rem;
    margin: auto;
    border-top: 5px solid var(--orange);
}
.calculator {
    bottom: 4rem;
    right: 19rem;
    border-top: 5px solid var(--blue);
}
/* footer {
    position: absolute;
    bottom: 1rem;
} */